__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

myenv/
.venv/

logs/
xgb_output/
selected_events/
dags/
*.dag.condor.sub
*.dag.dagman.log
*.dag.dagman.out
*.dag.lib.err
*.dag.lib.out
*.dag.metrics
*.dag.nodes.log
*.dag.rescue*

*.root
*.pdf
*.pkl

.DS_Store

docs/
